<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>wheel</string>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>local.lsdinjector</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/inject</string>
		<string>launchservicesd</string>
		<string>/usr/lib/mip/lsdinjector.dylib</string>
		<string>-w</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>1</integer>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
